@import './task.css';
@import './taskCell.css';
@import './calendar-day.css'; 
@import './timezoneCell.css';
@import './hour-cell.css';
@import './current-time.css';

.calendar{
  padding-inline: 1.5rem;
  color: var(--gray20); 
  --minBlockSize: 4rem;
  --maxBlockSize: auto;  
  --minInlineSize: 5rem;
  --maxnlineSize: 1fr;
  position: relative;
}

.calendar-week{
  display: grid;
  grid-template-columns: auto repeat(7, minmax(var(--minInlineSize), var(--maxBlockSize)));
  grid-template-rows: 7rem repeat(24, minmax(var(--minBlockSize), var(--maxBlockSize)));
  min-block-size: 700px; 
}