.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-end: 1.5rem;
  padding-inline-start: calc(2.625rem - 1.5rem);
  border-block-end: 1px solid var(--gray10);
}

.header-primary{
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header-logo{
  display: flex;
  gap: .5rem;
  align-items: center;
}

.header-secondary{
  display: flex;
  gap: 3rem;
}